<!-- Navbar component -->
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <!-- Brand logo or name -->
    <a class="navbar-brand" href="#">Fabtix</a>

    <!-- Toggler button for collapsing the navbar on small screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- Icon for the toggler button (hamburger icon) -->
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible part of the navbar that contains links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <!-- Center the navbar items -->
        <!-- Each navigation item -->
        <li class="nav-item">
          <!-- Link to Home page -->
          <a class="nav-link" routerLink="/" (click)="closeNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <!-- Link to Search page -->
          <a class="nav-link" routerLink="/search" (click)="closeNavbar()"
            >Search</a
          >
        </li>
        <li class="nav-item">
          <!-- Link to Artists page -->
          <a class="nav-link" routerLink="/artist" (click)="closeNavbar()"
            >Artists</a
          >
        </li>
      </ul>
      <!-- User icon aligned to the right -->
      <ul class="navbar-nav">
        <!-- Create a new list for right-aligned items -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user" aria-hidden="true"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-lg-end custom-dropdown"
            aria-labelledby="userDropdown"
          >
              <!-- Links for unauthenticated users -->
              <li *ngIf="!authService.isLoggedIn">
                <a
                  class="dropdown-item"
                  routerLink="/login"
                  (click)="closeNavbar()"
                  aria-label="Navigate to Log In"
                >Login</a>
              </li>
              <li *ngIf="!authService.isLoggedIn">
                <a
                  class="dropdown-item"
                  routerLink="/signup"
                  (click)="closeNavbar()"
                  aria-label="Navigate to Sign Up"
                >Sign Up</a>
              </li>
            <!-- <li>
              <a
                class="dropdown-item"
                routerLink="/login"
                *ngIf="!authService.isLoggedIn"
                (click)="closeNavbar()"
                aria-label="Navigate to Log In"
                >Login</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/signup"
                *ngIf="!authService.isLoggedIn"
                (click)="closeNavbar()"
                aria-label="Navigate to Sign Up"
                >Sign Up</a
              >
            </li> -->
            <!-- Links for authenticated users -->
            <ng-container *ngIf="authService.isLoggedIn">
              <li>
                <ng-container *ngIf="authService.hasPerformances; else noPerformances">
                  <a
                    class="dropdown-item"
                    (click)="updateShow(); closeNavbar()"
                    routerLink=""
                    aria-label="Update Show"
                  >Update Show</a>
                  <a
                    class="dropdown-item"
                    (click)="createNewShow(); closeNavbar()"
                    routerLink=""
                    aria-label="Create New Show"
                    >Create New Show</a
                  >
                </ng-container>
              </li>
              <ng-template #noPerformances>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="createNewShow(); closeNavbar()"
                    routerLink=""
                    aria-label="Create New Show"
                  >Create New Show</a>
                </li>
              </ng-template>
              <li>
                <a
                  class="dropdown-item"
                  (click)="logout(); closeNavbar()"
                  routerLink=""
                  aria-label="Logout"
                >Logout</a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
    <!-- End of collapsible navbar links -->
  </div>
  <!-- End of container -->
</nav>
<!-- End of navbar -->
