<link
  href="https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700"
  rel="stylesheet"
/>
<div class="artist-content container">
  <div class="row">
    <div
      *ngFor="let artist of artists; let i = index"
      class="col-md-3 col-sm-6 col-xs-12 artist-card"
    >
      <article
        class="material-card"
        [ngClass]="artist.cardStyle + (isActive(i) ? ' mc-active' : '')"
        role="article"
        attr.aria-labelledby="artist-{{ artist._id }}"
      >
        <h2 id="artist-{{ artist._id }}">
          <span>{{ artist.name }}</span>
          <strong>
            <i class="fa fa-fw fa-star" aria-hidden="true"></i>
            {{ artist.genre }}
          </strong>
        </h2>
        <div
          class="mc-content"
          attr.aria-describedby="artist-description-{{ artist._id }}"
        >
          <div class="img-container">
            <img
              class="img-responsive"
              [src]="
                artist.image ? artist.image : 'assets/images/default-pic.jpg'
              "
              alt="{{ artist.name }} Image"
              aria-hidden="false"
            />
          </div>
          <div class="mc-description" id="artist-description-{{ artist._id }}">
            {{ artist.show }}
          </div>
        </div>
        <a
          class="mc-btn-action"
          attr.aria-label="More options for {{ artist.name }}"
          (click)="toggleCard(i)"
        >
          <i
            [ngClass]="isActive(i) ? 'fa fa-arrow-left' : 'fa fa-bars'"
            aria-hidden="true"
          ></i>
          <!-- Dynamic icon -->
        </a>
        <div class="mc-footer">
          <h4>Social</h4>
          <a
            *ngIf="artist.youtubeLink"
            class="fa-brands fa-fw fa-youtube"
            [href]="artist.youtubeLink"
            target="_blank"
            attr.aria-label="Follow {{ artist.name }} on YouTube"
          ></a>
          <a
            class="fa-brands fa-fw fa-dribbble"
            routerLink="/search"
            aria-label="Search for performances"
          ></a>
        </div>
      </article>
    </div>
  </div>
</div>
